<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Tocunaro Server</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body style="background-color: #191C1C;">
    <h1 style="
        margin-top: 16rem;
        color: #4FDAD2;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        font-weight: 300;
    "> Tocunaro - create DApps easy</h1>
</body>
</html>